main.contact {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  main.contact {
    width: 800px;
  }
}
@media (max-width: 500px) {
  main.contact {
    width: 500px;
  }
}
.form-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container h2 {
  font-size: 4.5rem;
  color: #3f3f67;
  padding-bottom: 20px;
  padding-top: 30px;
  font-weight: normal;
  cursor: default;
}
.form-container p {
  color: #999999;
  padding-bottom: 30px;
  font-size: 2rem;
}
.form-container form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 2rem;
  color: #4c4dc3;
  padding-bottom: 20px;
  font-weight: normal;
  cursor: default;
}
.form-container form input {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  display: flex;
  color: #3f3f67;
  border: 1px solid lightgray;
}
.form-container form input[type="button"],
.form-container form input[type="submit"],
.form-container form input[type="reset"] {
  background-color: #ff9770;
  border: 1px solid #ff9770;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3rem;
}
.form-container form input[type="button"]:hover,
.form-container form input[type="submit"]:hover,
.form-container form input[type="reset"]:hover {
  background-color: white;
  border: 1px solid #ff9770;
  color: #ff9770;
}
.form-container form .button-container {
  display: flex;
  justify-content: space-evenly;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
button {
  font-family: "IBM Plex Mono", monospace, Arial, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
  line-height: 1;
  font-family: "IBM Plex Mono", monospace, Arial, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
@media (max-width: 800px) {
  body {
    width: 800px;
  }
}
@media (max-width: 500px) {
  body {
    width: 500px;
  }
}
body a,
body p {
  font-size: 1.6rem;
}
body header.header-nav-toolbar {
  height: 60px;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  background-color: #8ec2fe;
}
body header.header-nav-toolbar h1 {
  width: 33%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 3.2rem;
  cursor: default;
}
@media (max-width: 800px) {
  body header.header-nav-toolbar h1 {
    width: 50%;
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  body header.header-nav-toolbar h1 {
    font-size: 2.1rem;
  }
}
body header.header-nav-toolbar nav.header-nav-links {
  width: 33%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 800px) {
  body header.header-nav-toolbar nav.header-nav-links {
    width: 50%;
  }
}
body header.header-nav-toolbar nav.header-nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
body header.header-nav-toolbar nav.header-nav-links a:hover {
  color: #3f3f67;
}
body article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body article .hero-header {
  background-image: url(/Users/chrisjones/Documents/git/Domains-Portfolio/img/blockchain-domains-header.svg);
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 800px) {
  body article .hero-header {
    background-image: none;
    height: 700px;
  }
}
body article .hero-header .hero-text-container {
  width: 35%;
  height: 90%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 800px) {
  body article .hero-header .hero-text-container {
    width: 85%;
  }
}
body article .hero-header .hero-text-container h1 {
  font-size: 5rem;
  color: #3f3f67;
  padding-bottom: 20px;
  font-weight: normal;
  cursor: default;
}
body article .hero-header .hero-text-container p {
  font-size: 3rem;
  color: #4c4dc3;
  padding-bottom: 20px;
  font-weight: normal;
  cursor: default;
}
body article .hero-header .hero-text-container li {
  font-size: 2rem;
  color: #999999;
  padding-bottom: 10px;
  list-style-position: inside;
  line-height: normal;
  cursor: default;
}
body article .hero-header .hero-text-container button {
  width: 30rem;
  height: 6rem;
  color: white;
  background-color: #ff9770;
  font-size: 2rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 40px;
  cursor: pointer;
}
@media (max-width: 800px) {
  body article .hero-header .hero-text-container button {
    align-self: flex-start;
  }
}
body article .hero-header .hero-text-container button:hover {
  color: #ff9770;
  background-color: white;
  border: 1px solid #ff9770;
}
body article .featured-domains {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #f4f5f7;
  padding-bottom: 6rem;
}
body article .featured-domains .premium-title-container {
  display: flex;
  width: 100rem;
  align-items: center;
}
@media (max-width: 800px) {
  body article .featured-domains .premium-title-container {
    width: 100%;
  }
}
body article .featured-domains .premium-title-container h2 {
  width: 50%;
  font-size: 3rem;
  color: #3f3f67;
  padding-top: 60px;
  padding-bottom: 40px;
  font-weight: normal;
  cursor: default;
}
@media (max-width: 800px) {
  body article .featured-domains .premium-title-container h2 {
    margin-left: 20px;
  }
}
body article .featured-domains .premium-title-container h3 {
  width: 50%;
  font-size: 1.5rem;
  color: #ff9770;
  padding-top: 60px;
  padding-bottom: 40px;
  font-weight: normal;
  text-align: end;
  margin-right: 1%;
  cursor: pointer;
}
@media (max-width: 800px) {
  body article .featured-domains .premium-title-container h3 {
    margin-right: 20px;
  }
}
body article .featured-domains .featured-domains-container {
  display: flex;
  width: 100rem;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  body article .featured-domains .featured-domains-container {
    width: 100%;
    justify-content: center;
  }
}
body article .featured-domains .featured-domains-container section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 31.33%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: white;
  height: 25rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@media (max-width: 800px) {
  body article .featured-domains .featured-domains-container section {
    width: 48%;
  }
}
@media (max-width: 500px) {
  body article .featured-domains .featured-domains-container section {
    width: 75%;
    margin-bottom: 30px;
  }
}
body article .featured-domains .featured-domains-container section p {
  font-size: 2rem;
  color: #999999;
}
body article .featured-domains .featured-domains-container section p.price {
  align-self: flex-end;
  margin-right: 5%;
}
body article .featured-domains .featured-domains-container section button {
  width: 23rem;
  height: 4rem;
  color: white;
  background-color: #ff9770;
  font-size: 2rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}
body article .featured-domains .featured-domains-container section button:hover {
  color: #ff9770;
  background-color: white;
  border: 1px solid #ff9770;
}
body article .domain-list-container {
  width: 100rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media (max-width: 800px) {
  body article .domain-list-container {
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
}
body article .domain-list-container .tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #999999;
  cursor: default;
}
body article .domain-list-container .tabs .filter {
  width: 66%;
  display: flex;
  justify-content: space-evenly;
  font-size: 3rem;
  color: #999999;
}
body article .domain-list-container .tabs .filter .tab {
  border: 1px solid #999999;
  padding: 10px;
  cursor: pointer;
}
body article .domain-list-container .tabs .filter .tab:hover {
  border: 1px solid #ff9770;
  color: #ff9770;
  padding: 10px;
  cursor: pointer;
}
body article .domain-list-container .tabs .filter .active-tab {
  border: 1px solid white;
  background-color: #999999;
  color: white;
  padding: 10px;
  cursor: pointer;
}
body article .domain-list-container .tabs .filter .active-tab:hover {
  border: 1px solid white;
  background-color: #999999;
  color: white;
  padding: 10px;
  cursor: default;
}
body article .domain-list-container .domains-sections {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}
body article .domain-list-container .domains-sections section.domain {
  width: 100%;
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  align-items: center;
}
@media (max-width: 500px) {
  body article .domain-list-container .domains-sections section.domain {
    display: flex;
    flex-direction: column;
  }
}
body article .domain-list-container .domains-sections section.domain .domain-text {
  width: 100%;
  display: flex;
}
@media (max-width: 500px) {
  body article .domain-list-container .domains-sections section.domain .domain-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
body article .domain-list-container .domains-sections section.domain .domain-text p {
  width: 33%;
  font-size: 2rem;
  color: #999999;
  cursor: default;
}
@media (max-width: 800px) {
  body article .domain-list-container .domains-sections section.domain .domain-text p {
    width: 40%;
  }
}
body article .domain-list-container .domains-sections section.domain .domain-text p.domain-appraisal {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
@media (max-width: 800px) {
  body article .domain-list-container .domains-sections section.domain .domain-text p.domain-appraisal {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  body article .domain-list-container .domains-sections section.domain .domain-text p.domain-appraisal {
    width: 100%;
    margin-bottom: 15px;
  }
}
body article .domain-list-container .domains-sections section.domain .domain-text p.domain-appraisal:hover {
  color: #ff9770;
}
body article .domain-list-container .domains-sections section.domain .domain-text p.domain-price {
  display: flex;
  justify-content: center;
  cursor: default;
}
@media (max-width: 800px) {
  body article .domain-list-container .domains-sections section.domain .domain-text p.domain-price {
    width: 20%;
  }
}
@media (max-width: 500px) {
  body article .domain-list-container .domains-sections section.domain .domain-text p.domain-price {
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  body article .domain-list-container .domains-sections section.domain .domain-text p.domain-name {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}
body article .domain-list-container .domains-sections section.domain button {
  width: 15rem;
  height: 4rem;
  color: white;
  background-color: #ff9770;
  font-size: 2rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}
body article .domain-list-container .domains-sections section.domain button:hover {
  color: #ff9770;
  background-color: white;
  border: 1px solid #ff9770;
}
body article .domain-list-container .domains-sections section.active-domain {
  display: flex;
}
body aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
body aside h2 {
  font-size: 3rem;
  color: #3f3f67;
  margin-bottom: 50px;
  cursor: default;
}
body aside .sold-domains-container {
  display: flex;
  width: 120rem;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  body aside .sold-domains-container {
    width: 100%;
    flex-direction: column;
  }
}
body aside p.slider-button {
  font-size: 5rem;
  color: #ff9770;
  cursor: pointer;
}
@media (max-width: 800px) {
  body aside p.slider-button {
    transform: rotate(90deg);
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
body aside p.slider-button:hover {
  font-size: 5rem;
  color: #ff9770;
  cursor: pointer;
}
body aside .sold-domain-info {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body aside .sold-domain-info p {
  font-size: 2rem;
  margin-top: 20px;
  color: #999999;
}
@media (max-width: 800px) {
  body aside .sold-domain-info p {
    margin-bottom: 20px;
  }
}
body aside .active-sold-domain {
  display: flex;
}
body footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}
body footer .footer-nav-container {
  height: 60px;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  background-color: #8ec2fe;
}
body footer .footer-nav-container h1 {
  width: 33%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 3.2rem;
  cursor: default;
}
@media (max-width: 800px) {
  body footer .footer-nav-container h1 {
    width: 50%;
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  body footer .footer-nav-container h1 {
    font-size: 2.1rem;
  }
}
body footer .footer-nav-container nav.footer-nav-links {
  width: 33%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 800px) {
  body footer .footer-nav-container nav.footer-nav-links {
    width: 50%;
  }
}
body footer .footer-nav-container nav.footer-nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
body footer .footer-nav-container nav.footer-nav-links a:hover {
  color: #3f3f67;
}
body footer p {
  display: flex;
  justify-content: center;
  background-color: #8ec2fe;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  color: white;
  font-size: 1.2rem;
  cursor: default;
}
