@import "variables.less";
@import "contact.less";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  // font: initial;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

button {
  font-family: "IBM Plex Mono", monospace, Arial, "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
}

body {
  line-height: 1;
  font-family: "IBM Plex Mono", monospace, Arial, "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   font-weight: 300;

  @media @tablet {
    width: 800px;
    justify-content: center;
  }

  @media @mobile {
    width: 500px;
    justify-content: center;
  }

  a,
  p {
    font-size: 1.6rem;
  }

  header.header-nav-toolbar {
    height: 60px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    background-color: #8ec2fe;

    h1 {
      width: 33%;
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 3.2rem;
      cursor: default;
    }

    nav.header-nav-links {
      width: 33%;
      display: flex;
      justify-content: space-around;

      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
      }

      a:hover {
        color: #3f3f67;
      }
    }

    nav.header-social-links {
      width: 33%;
      display: flex;
      justify-content: flex-end;

      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding-left: 20px;
      }

      a:hover {
        color: #3f3f67;
      }
    }
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-header {
      background-image: url(/Users/chrisjones/Documents/git/Domains-Portfolio/img/blockchain-domains-header.svg);
      height: 100vh;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      .hero-text-container {
        width: 35%;
        height: 90%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
          font-size: 5rem;
          color: #3f3f67;
          padding-bottom: 20px;
          font-weight: normal;
          cursor: default;
        }

        p {
          font-size: 3rem;
          color: #4c4dc3;
          padding-bottom: 20px;
          font-weight: normal;
          cursor: default;
        }

        li {
          font-size: 2rem;
          color: #999999;
          padding-bottom: 10px;
          list-style-position: inside;
          line-height: normal;
          cursor: default;
        }

        button {
          width: 30rem;
          height: 6rem;
          color: white;
          background-color: #ff9770;
          font-size: 2rem;
          border-radius: 3rem;
          display: flex;
          justify-content: center;
          align-self: center;
          margin-top: 40px;
          cursor: pointer;
        }

        button:hover {
          color: #ff9770;
          background-color: white;
          border: 1px solid #ff9770;
        }
      }
    }

    .featured-domains {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      background-color: #f4f5f7;
      padding-bottom: 6rem;

      .premium-title-container {
        display: flex;
        width: 100rem;
        align-items: center;

        h2 {
          width: 50%;
          font-size: 3rem;
          color: #3f3f67;
          padding-top: 60px;
          padding-bottom: 40px;
          font-weight: normal;
          cursor: default;
        }

        h3 {
          width: 50%;
          font-size: 1.5rem;
          color: #ff9770;
          padding-top: 60px;
          padding-bottom: 40px;
          font-weight: normal;
          text-align: end;
          margin-right: 1%;
          cursor: pointer;
        }
      }

      .featured-domains-container {
        display: flex;
        width: 100rem;
        flex-wrap: wrap;

        section {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          width: 31.33%;
          margin-left: 1%;
          margin-right: 1%;
          margin-top: 1%;
          margin-bottom: 1%;
          background-color: white;
          height: 25rem;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);

          p {
            font-size: 2rem;
            color: #999999;
          }

          p.price {
            align-self: flex-end;
            margin-right: 5%;
          }

          button {
            width: 23rem;
            height: 4rem;
            color: white;
            background-color: #ff9770;
            font-size: 2rem;
            border-radius: 3rem;
            display: flex;
            justify-content: center;
            align-self: center;
            cursor: pointer;
          }

          button:hover {
            color: #ff9770;
            background-color: white;
            border: 1px solid #ff9770;
          }
        }
      }
    }
    .domain-list-container {
      width: 100rem;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      margin-top: 60px;
      margin-bottom: 60px;

      .tabs {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: #999999;
        cursor: default;

        .filter {
          width: 66%;
          display: flex;
          justify-content: space-evenly;
          font-size: 3rem;
          color: #999999;

          .tab {
            border: 1px solid #999999;
            padding: 10px;
            cursor: pointer;
          }

          .tab:hover {
            border: 1px solid #ff9770;
            // background-color: #999999;
            color: #ff9770;
            padding: 10px;
            cursor: pointer;
          }

          .active-tab {
            border: 1px solid white;
            background-color: #999999;
            color: white;
            padding: 10px;
            cursor: pointer;
          }

          .active-tab:hover {
            border: 1px solid white;
            background-color: #999999;
            color: white;
            padding: 10px;
            cursor: default;
          }
        }
      }

      .domains-sections {
        display: flex;
        flex-wrap: wrap;
        margin-top: 4rem;

        section.domain {
          width: 100%;
          display: none;
          padding-top: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid lightgrey;
          align-items: center;

          .domain-text {
            width: 100%;
            display: flex;

            p {
              width: 33%;
              font-size: 2rem;
              color: #999999;
              cursor: default;
            }

            p.domain-appraisal {
              display: flex;
              justify-content: flex-end;
              cursor: pointer;
            }

            p.domain-appraisal:hover {
              color: #ff9770;
            }

            p.domain-price {
              display: flex;
              justify-content: center;
              cursor: default;
            }
          }

          button {
            width: 15rem;
            height: 4rem;
            color: white;
            background-color: #ff9770;
            font-size: 2rem;
            border-radius: 3rem;
            display: flex;
            justify-content: center;
            align-self: center;
            cursor: pointer;
          }

          button:hover {
            color: #ff9770;
            background-color: white;
            border: 1px solid #ff9770;
          }
        }

        section.active-domain {
          display: flex;
        }
      }
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 3rem;
      color: #999999;
      margin-bottom: 30px;
      cursor: default;
    }

    .sold-domains-container {
      display: flex;
      width: 120rem;
      align-items: center;
      justify-content: space-evenly;
    }

    p.slider-button {
      font-size: 5rem;
      color: #ff9770;
      cursor: pointer;
    }

    p.slider-button:hover {
      font-size: 5rem;
      color: #ff9770;
      cursor: pointer;
    }

    .sold-domain-info {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 2rem;
        margin-top: 20px;
        color: #999999;
      }
    }

    .active-sold-domain {
      display: flex;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;

    .footer-nav-container {
      height: 60px;
      width: 80%;
      padding-left: 10%;
      padding-right: 10%;
      display: flex;
      align-items: center;
      background-color: #8ec2fe;

      h1 {
        width: 33%;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 3.2rem;
        cursor: default;
      }

      nav.footer-nav-links {
        width: 33%;
        display: flex;
        justify-content: space-around;

        a {
          text-decoration: none;
          color: white;
          font-weight: bold;
        }

        a:hover {
          color: #3f3f67;
        }
      }

      nav.footer-social-links {
        width: 33%;
        display: flex;
        justify-content: flex-end;

        a {
          text-decoration: none;
          color: white;
          font-weight: bold;
          padding-left: 20px;
        }

        a:hover {
          color: #3f3f67;
        }
      }
    }

    p {
      display: flex;
      justify-content: center;
      background-color: #8ec2fe;
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 100%;
      color: white;
      font-size: 1.2rem;
      cursor: default;
    }
  }
}
